:root {
  --main: #13161F;
  --accent: #1FB6FF;
  --secondary: #1D2330;
  --border: rgba(255,255,255,0.4);
}

body {
  background-color: var(--main);
  color: white;
}

header {
  padding: 16px 12px;
}

.logo_header {
  border: 1px solid var(--border);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
}

.user-avatar_header {
  background: url("https://media.istockphoto.com/id/1386479313/photo/happy-millennial-afro-american-business-woman-posing-isolated-on-white.jpg?b=1&s=170667a&w=0&k=20&c=ahypUC_KTc95VOsBkzLFZiCQ0VJwewfrSV43BOrLETM=") -20px -5px / 100px no-repeat;
}

.your-company-logo_header {
  background: url("https://cdn4.vectorstock.com/i/1000x1000/41/03/bird-company-logo-template-design-vector-33654103.jpg") center -22px / 110px no-repeat;
}


footer {
  position: sticky;
  bottom: 0
}
